html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
}

p{
    margin: 0;
}

li p{
    color: black;
}


/* Header element class*/
.header {
    background-color: #3F51B5;
    display: block;
    color: beige;
    position: fixed;
    z-index: 10;
    top: 0;
    margin-top: 0;
    width: 100%;
    padding-top: 8px;

    box-shadow: 0 0 19px black;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);*/
    text-align: center;
    font-size: 32px;
    transition: all 0.2s ease-in;
}
.header ul{
    padding: 0 0 0 0;
    margin: 16px 0 16px 0;
}
.header li{
    display: inline;
    margin: 8px;
    color: #fafafa;
    transition: font-size 0.3s ease;
}
.header li:hover{
    font-size: larger;
}
.header a{
    text-decoration: none;
    color: #fafafa;
}

#container{
    position: relative;
    padding: 0;
    z-index: 2;
    margin: 0;
}
.content{
    width: 100%;
    height: 100%;
}


#about-page{
    width: 50%;
    margin: 0 auto;
}
.profile-card{
    background-color: #3F51B5;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#resume-page {
    width: 50%;
    margin: 0 auto;
    font-size: 90%;
}
.resume-table{
    width: 100%;
    margin-bottom: 16px;
}
.resume-skill{
    width: 50%;
    text-align: start;
    padding-left: 8px;
    margin:10px 16px 16px 0;
}
.resume-title{
    text-align: left;
    font-weight: 500;
    font-size: 26px;
}
.resume-line{
    margin: 0;
}
.resume-row{
    display: inline-flex;
    flex-direction: row;
}

#asmi-projects-list{
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
}
#asmi-projects-list > li{
    margin-top: 16px;
}

#projects-page{
    width: 70%;
    margin: 0 auto;
}
.project-card{
    background-color: #3F51B5;
    color: #fafafa;
    width: 100%;
    height: 100%;
    margin: 0 0 16px;
    padding: 16px;

    border-radius: 3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.project-card-title{
    padding-bottom: 32px;
    font-size: 26px;
    font-weight: 500;
}
.project-card a{
    text-decoration: none;
    color: orange;
    transition: box-shadow 0.2s ease;
}
.project-card a:hover{
    box-shadow: 0 2px darkorange;
}















