html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.profile-card.mdl-card {
    padding: 0;
    border: dashed;
    width: 100%;
}

.profile-card > .mdl-card__title {
    color: #fff;
    background: url('../assets/profile-wide.jpg') center / cover;
}

.mdl-layout__header-row > .mdl-layout-title {
    font-size: 3vw;
    margin: 7.5vw auto;
}

.mdl-layout__header-row > .mdl-navigation {
    border: dashed;
}

.page-content {
    top: 2vw;
    padding: 0;
    margin: 0 10%;
    position: relative;
}

.about-page {
    width: 100%;
    height: 100%;
}
